@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps:400,900&display=swap');

p{
  font-size: 1em;
  line-height: 1.5em;
}

figcaption{
/*  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.5em;
  font-family: Georgia, "New Tomes Roman", serif;*/
  font :normal 0.75/1.5em Georgia, "New Tomes Roman", serif;
  color: #777;
  text-align: right;
}